.BurgerIngredientList {
  max-width: 600px;
  height: calc(100vh - 168px);
  overflow: hidden;

}

  
  .ingredientListTabs {
    display: flex;

  }
  
  .ingredientListScroll {
    overflow-y: scroll;
  }
  
  .ingredientListScroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .ingredientListScroll::-webkit-scrollbar-track {
    width: 8px;
    background-color: #2F2F37;
  }
  
  .ingredientListScroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }
  .ingredientListCategoryWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 12px), 1fr));
    row-gap: 32px;
    column-gap: 24px;
  }