.burgerIngredients {
    width: 600px;
    height: calc(100vh - 168px);
    overflow: hidden;
  }
  
  .burgerIngredientsTabs {
    display: flex;
max-width:30%;
  }
  
  .burgerIngredientsScroll {
    overflow-y: scroll;
  }
  
  .burgerIngredientsScroll::-webkit-scrollbar {
    width: 8px;
  }
  
  .burgerIngredientsScroll::-webkit-scrollbar-track {
    width: 8px;
    background-color: #2F2F37;
  }
  
  .burgerIngredientsScroll::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }